<a href="https://colab.research.google.com/github/Lalitha1704/machine_learning/blob/main/ML_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
from matplotlib.pylab import rcParams

# Set the figure size
rcParams['figure.figsize'] = 15, 6

# Ensure inline plotting for Jupyter Notebook
%matplotlib inline

In [ ]:
# Load the CSV file
data = pd.read_csv('/content/zomato.csv')

# Display the first 5 rows of the dataset
print(data.head())

# Print data types of each column
print('\nData Types:')
print(data.dtypes)

         Date        Open        High         Low       Close   Adj Close  \
0  2021-07-23  116.000000  138.899994  115.000000  126.000000  126.000000
1  2021-07-26  126.349998  143.750000  125.300003  140.649994  140.649994
2  2021-07-27  141.699997  147.800003  127.750000  132.899994  132.899994
3  2021-07-28  131.000000  135.000000  123.550003  131.199997  131.199997
4  2021-07-29  134.949997  144.000000  132.199997  141.550003  141.550003

      Volume
0  694895290
1  249723854
2  240341900
3  159793731
4  117973089

Data Types:
Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [10]:
# import pandas as pd
from datetime import datetime

# Date parsing function
dateparse = lambda dates: datetime.strptime(dates, '%Y-%m-%d')

# Load the CSV file with date parsing
data = pd.read_csv('/content/zomato.csv', parse_dates=['Date'], index_col='Date')

# Display the first 5 rows of the dataset
print(data.head())

                  Open        High         Low       Close   Adj Close  \
Date
2021-07-23  116.000000  138.899994  115.000000  126.000000  126.000000
2021-07-26  126.349998  143.750000  125.300003  140.649994  140.649994
2021-07-27  141.699997  147.800003  127.750000  132.899994  132.899994
2021-07-28  131.000000  135.000000  123.550003  131.199997  131.199997
2021-07-29  134.949997  144.000000  132.199997  141.550003  141.550003

               Volume
Date
2021-07-23  694895290
2021-07-26  249723854
2021-07-27  240341900
2021-07-28  159793731
2021-07-29  117973089

In [11]:
#check datatype of index
data.index

DatetimeIndex(['2021-07-23', '2021-07-26', '2021-07-27', '2021-07-28',
               '2021-07-29', '2021-07-30', '2021-08-02', '2021-08-03',
               '2021-08-04', '2021-08-05',
               ...
               '2024-01-24', '2024-01-25', '2024-01-29', '2024-01-30',
               '2024-01-31', '2024-02-01', '2024-02-02', '2024-02-05',
               '2024-02-06', '2024-02-07'],
              dtype='datetime64[ns]', name='Date', length=631, freq=None)

In [14]:
#convert to time series:
ts = data['Adj Close']
ts.head(10)

Date
2021-07-23    126.000000
2021-07-26    140.649994
2021-07-27    132.899994
2021-07-28    131.199997
2021-07-29    141.550003
2021-07-30    133.500000
2021-08-02    139.699997
2021-08-03    139.399994
2021-08-04    138.399994
2021-08-05    134.949997
Name: Adj Close, dtype: float64

In [16]:
#1. Specific the index as a string constant:
ts['2021-07-23']

126.0

In [23]:
#2. Import the datetime library and use 'datetime' function:
from datetime import datetime
ts[datetime(2024, 1, 23)]

130.100006

In [24]:
#1. Specify the entire range:
ts['2021-07-23':'2024-1-23']

Date
2021-07-23    126.000000
2021-07-26    140.649994
2021-07-27    132.899994
2021-07-28    131.199997
2021-07-29    141.550003
                 ...
2024-01-17    127.400002
2024-01-18    129.449997
2024-01-19    135.050003
2024-01-22    135.050003
2024-01-23    130.100006
Name: Adj Close, Length: 621, dtype: float64

In [26]:
#2. Use ':' if one of the indices is at ends:
ts[:'2023-07-28']

Date
2021-07-23    126.000000
2021-07-26    140.649994
2021-07-27    132.899994
2021-07-28    131.199997
2021-07-29    141.550003
                 ...
2023-07-24     81.300003
2023-07-25     82.650002
2023-07-26     83.349998
2023-07-27     84.949997
2023-07-28     86.800003
Name: Adj Close, Length: 501, dtype: float64

In [27]:
ts['2021']

Date
2021-07-23    126.000000
2021-07-26    140.649994
2021-07-27    132.899994
2021-07-28    131.199997
2021-07-29    141.550003
                 ...
2021-12-27    132.750000
2021-12-28    132.850006
2021-12-29    137.100006
2021-12-30    133.949997
2021-12-31    137.399994
Name: Adj Close, Length: 111, dtype: float64